<div class="main about-main">
  <div class="about-content">
    <h2>ToDoAppとは</h2>
    <p>
      ToDo管理サービスです．<br><br>
      追加されたタスクを一覧表示したり，グループごとに管理したりできます(予定).
    </p>
    <a href="/">Topに戻る</a>
  </div>
</div>
